<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="robots" content="noindex, nofollow, noarchive, nosnippet">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <link href="{$basePath}/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="author" href="Jakub_Netrh">

    <title>{ifset #title}{include title|striptags} {/ifset} | Sprava</title>

    {ifset css}{include css}{/ifset}

    <!--CSS custom style-->
    <link href="{$basePath}/admin/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="{$basePath}/admin/css/bootstrap.css" rel="stylesheet" type="text/css"/>

    <!--CSS bootstrap-->
    {*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">*}
    <!--CSS awesome font-->
    {*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">*}
    <!--CSS date picker style-->
    {*<link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">*}

    {*<!-- Bootstrap CSS -->*}
    {*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">*}


    {*<!--SCRIPT bootstrap & javascript-->*}
    {*<script src="https://code.jquery.com/jquery-2.2.7.min.js"></script>*}
    <!--SCRIPT jQuery-->
    {*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>*}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*}
    {*<!--SCRIPT date picker-->*}
    {*<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>*}
    {*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>*}
    {*<!--SCRIPT Bootstrap-->*}
    {*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*}
    {*<!--SCRIPT same height panel-->*}
    {*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>*}
    <!--SCRIPT custom scripts-->
    <script src="{$basePath}/js/nette.ajax.js" type="text/javascript"></script>
    <!--SCRIPT nette ajax-->
    {*<script src="{$basePath}/admin/js/nette.ajax.js" type="text/javascript"></script>*}

    {ifset scripts}{include scripts}{/ifset}
</head>

<body>
<div id="flashMessage" class="divFlashMessage">
    <ul class="ulFlashMessage">
    </ul>
</div>

<body>
<div id="layoutLeft" class="layoutColumn">
    <div class="layoutHeaderLeft">Top Left</div>
    <div class="bottom">
        {*<p>one</p>*}
        {*<p>two</p>*}
        {*<p>three</p>*}
        {*<p>four</p>*}
        {*<p>five</p>*}
        {*<p>six</p>*}
        {*<p>seven</p>*}
    </div>
</div>
<div id="layoutRight" class="column">
    <div class="layoutHeaderRight">
        <ul class="layoutMenu">
            <li><a class="aMenu" n:href="Uvod:" >Home</a></li>
            <li><a class="aMenu" n:href="Language:" >New Language</a></li>
        </ul>
        <a n:href="logout" class="logOut"><strong>Odhlásit se</strong></a>
    </div>
    <div class="bottom">
        {include content}
    </div>
</div>


    {block scripts}<!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/JSV@4.0.2/lib/jsv.min.js"></script>
        <!--SCRIPT custom scripts-->
        <script src="{$basePath}/admin/js/jsonform.js" type="text/javascript"></script>
        <script src="{$basePath}/admin/js/js.js" type="text/javascript"></script>
    {/block}
</body>

</html>