
h1.h1Intro {
    color: #000000;
}

h3.h3Sluzby {
    font-family: 'National_Regular', 'Lucida Sans Unicode', sans-serif !important;
    margin: 0;
    padding: 2rem 1rem 1.5rem 1rem ;
    color: #FFFFFF;
}

p.pMore:before {
    content: '\f178';
    /* content: '\f30b'; */
    font: 18px fontawesome;
    color: #FD1A1A;
    margin-right: 0.5em;
    position: relative;
    top: 0.1em;
}

p.pSluzby {
    font-family: 'National_Regular', 'Lucida Sans Unicode', sans-serif !important;
    margin: 0;
    padding: 1rem 1rem 0 1rem ;
    color: #FFFFFF;
}

a.aMore {
    font-family: 'National_Regular', 'Lucida Sans Unicode', sans-serif !important;
}

a.aH3Sluzby, a.aPSluzby, a.aPSluzby:hover, a.aH3Sluzby:hover {
    font-family: 'National_Regular', 'Lucida Sans Unicode', sans-serif !important;
    text-decoration: none;
}

a.aPSluzby:last-child p {
    padding: 1rem 1rem 3rem 1rem ;
}

div.divBlockLeft_4 {
    flex-basis: 40%;
    -webkit-flex-basis: 40%;
}

div.divSluzbyOuter {
    width: 100%;
    display: flex;
    flex-direction: column;
}

div.divSluzby {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.divSluzba {
    background-image: url("../img/red-service-cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    opacity: 1.0;
    filter: alpha(opacity=100);
    transition: opacity 0.5s;
    width: 45%;
}

div.divSluzba:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
}